.create {
    max-width: 500px;
    margin: 130px auto;
    text-align: center;
    background-color: #eaeaea;
    padding: 65px 30px;
    align-items: center;
    border-radius: 6px;
}

.create label {
    text-align: right;
    display: block;
    color: #426799;
    font-size: 25px;
    font-weight: 500;
}

.create h2 {
    font-size: 27px;
    color: #3a3a3a;
    text-align: center;
    padding-bottom: 15px;
}

.create input {
    width: 100%;
    padding: 8px 15px;
    margin: 15px 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06); 
    
}

.create input:hover, input::after{
    font-size: 18px;
    border: none;
    background-color: rgba(197, 197, 197, 0.7);
}

 button {
    background: #fff;
    color:#426799;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

 button:hover {
    transform: translate(0,-5px) !important;
    background: #f4f4f4;
    color:rgba(133, 133, 133, 0.9);
}

.create .Content {
    padding: 3px 3px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.create p {
    color: rgb(234, 3, 3);
    text-align: right;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    text-align: right;
  }

  img {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    padding-right: 150px;
    padding-bottom: 70px;
    padding-bottom: 60%;

  }

  .oldPass {
    display: flex;
align-items: center;
justify-content: space-between;
padding-top: 10px;
  }

  .pass2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .prevArrow {
    padding-bottom: 30px;
    cursor: pointer;
    text-align: left;
    align-items: center;
    justify-content: space-between;
  }